

<% if user_signed_in? %>
	 
	     <li class="has-dropdown">
	      <a class="active" href="#"><%= current_user.username %></a>
	        <ul class="dropdown">	          
	          <li><%= link_to 'Edit profile', edit_user_registration_path,style: 'color:white;' %></li>
	          <li><%= link_to "Logout", destroy_user_session_path, method: :delete,style: 'color:white;' %></li>	          
	        </ul>
	    </li>

	 
<% else %>
 <%#= link_to "Sign up", new_user_registration_path %> |
 <%#= link_to "Login", new_user_session_path %>

 
 	<li><%= link_to "Sign in with twitter", user_omniauth_authorize_path(:twitter), style: 'color:white;' %></li>
 

<% end %>


