
<li class='artist_count_link'><%= link_to "ME", artist_index_user_artists_path(scoped: true) %></li>   
<li class='artist_count_link'><%= link_to "My Artists (#{@count_artists})", artist_index_user_artists_path %></li>   
<li class='content_count_link'><%= link_to "My Favorites (#{@count_favorites})", user_contents_path %></li>