<div id='modal' class='reveal-modal tiny' data-reveal>

	<%= link_to "", id: 'closeModal', class: 'right' do %>
   	&#215
   <% end %>
   <h2>Sign in to continue</h2>

   <p><%= link_to "Google" do %>
         google
      <% end %></p>
   <p> <%= link_to "Twitter" do %>
         twitter
      <% end %></p>
    <p><%= link_to "instagram" do %>
         instagram
       <% end %></p>
   



</div>